<!DOCTYPE html>
<html ng-app="esriAngularApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>AngularJS Esri Quick Start</title>

    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <!-- load Esri JSAPI -->
    <script src="https://js.arcgis.com/4.3/"></script>
    <!-- load AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <!-- load angular-esri-map -->
    <script src="https://unpkg.com/angular-esri-map@2"></script>
    <script src="/javascripts/index.js"></script>
    <style type="text/css">
        html, body, .esri-view {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body ng-controller="esriAngularApp as vm">

<esri-map-view map="vm.map" on-create="vm.onViewCreated">
</esri-map-view>

</body>
</html>